@import url("footer.css");
@import url("social-media-icons.css");
/*@import url("[component].css");*/

body  {
  height: auto !important;
}

html  {
  height: auto !important;
  max-width:1024px;
  margin:auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
