<footer class="footer">
    <!--<div class="table-responsive">
        <div class="row" style="width:600px;position:absolute">
            <div class="container-fluid">
                <div class="col-xs-12 col-md-6"><img src="img\phone_icon.png" style="height:30px;width:30px;" /><span style="padding:5px;line-height: 30px; font-size: 1.2em; font-weight: bold;">+91 8390954005</span></div>
                <div class="col-xs-12 col-md-6"><img src="img\email_icon.png" style="height:40px;width:40px;" /><span style="padding:5px;line-height: 30px; font-size: 1.2em; font-weight: bold;">nozelrosario@gmail.com</span></div>
            </div>
        </div>
    </div>-->
    <!--NR : Following FB block will only be visible after FB login [active FB session]-->
    
        <div>            
            <div dir="ltr" style="text-align: left;" trbidi="on">
                <ul class="sociico" id="icon-socialmn" style="margin-top: 8px;">
                    <li class="social-twitter" style="background-color: black;"><a href="Your Link Here" target="_blank">twitter</a></li>
                    <li class="social-facebook" style="background-color: black;"><a href="Your Link Here#" target="_blank">facebook</a></li>
                    <li class="social-google" style="background-color: black;"><a href="Your Link Here" target="_blank">google</a></li>
                    <li class="social-rss" style="background-color: black;"><a href="Your Link Here" target="_blank">rss</a></li>
                    <li class="social-pinterest" style="background-color: black;"><a href="Your Link Here" target="_blank">pinterest</a></li>
                </ul>
            </div>
        </div> 
    <div class="fb-facepile" data-href="https://www.facebook.com/pages/Phulrani-Agashi-Virar/551608678224528" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true"></div>
</footer>