<div class="wrapper">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Title 1
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img class="img-responsive" alt='flower' src='img/flower.jpg' />
                        </a>
                        <div class="caption text-center bg-primary">
                            Name 0
                        </div>
                        <div class="bg-info">
                            Flower description will come here
                        </div>
                        <div class="caption text-center bg-primary">
                            Price 0
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img class="img-responsive" alt='flower' src='img/flower.jpg' />
                        </a>
                        <div class="caption text-center bg-primary">
                            Name 1
                        </div>
                        <div class="bg-info">
                            Flower description will come here
                        </div>
                        <div class="caption text-center bg-primary">
                            Price 1
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img class="img-responsive" alt='flower' src='img/flower.jpg' />
                        </a>
                        <div class="caption text-center bg-primary">
                            Name 2
                        </div>
                        <div class="bg-info">
                            Flower description will come here
                        </div>
                        <div class="caption text-center bg-primary">
                            Price 2
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img class="img-responsive" alt='flower' src='img/flower.jpg' />
                        </a>
                        <div class="caption text-center bg-primary">
                            Name 3
                        </div>
                        <div class="bg-info">
                            Flower description will come here
                        </div>
                        <div class="caption text-center bg-primary">
                            Price 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .wrapper -->
