<div class="wrapper">


    <div class="slides-container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;margin:0px auto;">
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
            <div ng-repeat="image in carouselImages" enable-jssor jssor-options="homePageCarouselConfig" jssor-trigger={{$last}}>
                <center><img u=" image" src="" ng-src={{image.path}} /></center>
            </div>
        </div>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora11l" style="width: 28px; height: 40px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora11r" style="width: 28px; height: 40px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
    </div>


    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                This is yet to be built [Category based products here]
            </div>
            <div class="panel-body">
                <div class="row">
                    <product-info-box ng-repeat="product in categoryProducts" class="col-xs-6 col-md-3" product="product"></product-info-box>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .wrapper -->
