<div class="wrapper">
    <div class="container-fluid">
        <div class="">
            <div class="">
                {{category.name}}
            </div>
            <div class="">
                <div class="row">
                    <div>
                        <product-info-box ng-repeat="product in products" class="col-xs-6 col-md-3" product="product"></product-info-box>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 